#bot_nav{
    background-color: #F9F9F9;
}

#bot_nav .container{
    padding: 20px 300px;
    margin: 0px 0px !important;
    max-width: 2560px;
}


.text{
    gap:44px;
}

#bot_nav .text p{
    margin: 0px !important;
    color:#726E8D;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Satoshi', sans-serif;
}
