#tabs{
    height: 355px;
}

#tabs .container{
    padding: 0px 86px 86px 86px;
    margin: 0px !important;
    max-width: 2560px;
}

.gaps_t{
    gap:59px;
    padding-top: 51px;
}

.gaps{
    margin-bottom: 16px;
}

#tabs h2{
    padding-top: 86px;
    color:#2A254B;
    font-style: 24px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
}

#tabs .bi{
    color:#2A254B;
}

#tabs h4{
    color:#2A254B;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
}

#tabs p{
    color:#2A254B;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px; 
}


//tabs_about_us

#tabs_abUs{
    height: 456.4px;
}

#tabs_abUs .container{
    padding: 0px 86px 56px 86px;
    margin: 0px !important;
    max-width: 2560px;
}

.gaps_t{
    gap:59px;
    padding-top: 51px;
} 

.gaps{
    margin-bottom: 16px;
}

#tabs_abUs h2{
    padding-top: 86px;
    color:#2A254B;
    font-style: 24px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
}

#tabs_abUs .bi{
    color:#2A254B;
}

#tabs_abUs h4{
    color:#2A254B;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
}

#tabs_abUs p{
    color:#2A254B;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px;
}

#tabs_abUs .fon{
    background-color: #F9F9F9;
    padding: 48px;
}

.gaps_t_abUS{
    gap:18px;
    padding-top: 36px;
}


//item

#tabs_two{
    height: 355px;
}

#tabs_two .container{
    padding: 0px 86px 86px 86px;
    margin: 0px !important;
    max-width: 2560px;
}

.gaps_t{
    gap:59px;
    padding-top: 51px;
}

.gaps{
    margin-bottom: 16px;
}

#tabs_two h2{
    padding-top: 36px;
    color:#2A254B;
    font-style: 24px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
}

#tabs_two .bi{
    color:#2A254B;
}

#tabs_two h4{
    color:#2A254B;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    font-size: 20px;
}

#tabs_two p{
    color:#2A254B;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    font-size: 16px; 
}
