@import "header/header";
@import "slide_text/slide_text";
@import "text_bl/text_bl";
@import "2ColsRight/2ColsRight";
@import "tabs/tabs";
@import "form/form";
@import "footer/footer";
@import "about_us_main_banner/main_banner";
@import "product_few/product_few";
@import "armchaie/armchair";
@import "top_bl_prod/top_bl_prod";
@import "filt_prod/filt_prod";
@import "item_shop/item_shop";
@import "cart_body/cart_body";
@import "register/register";

@font-face {

    font-family: 'Satoshi';
    src: url(../font/Satoshi-Medium.ttf);
}

@media(min-width:1441px){
    //filters

    #filters_prod .cont_sm{
        display: none;
    }

    #armchair .height_col2 img{
        height: 513.4px;
        width: 695px;
    }

    #products_few_3_0 {
        height: 700px !important;
    }

    #products_few_3_0 .main_div{
    
        gap:58px;
    }
    
    #products_few_3_0 .gaps_cards{
        
        gap:58px;
    }

    #top_mess .container{
        padding: 10px 550px !important;
        margin: 0px !important;
        max-width: 2560px;
    }

    #products_few .gap_but_colection {
        padding: 64px 590px 56px 590px;
    }

    #products_few .gaps_cards {
        gap: 44px;
    }

    #products_few .main_div {
        gap: 44px;
    }

}

///////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:1440px){
    //filters



    #filters_prod .cont_sm{
        display: none;
    }

    #products_few_2_0 .main_div{
    
        gap:20px;
    }
    
    #products_few_2_0 .gaps_cards{
        
        gap:20px;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:1024px){
    #top_mess{
        background-color:#2A254B ;
        height: 41px !important;
    
    } 
    
    #top_mess .container{
        padding: 10px 316px !important;
        margin: 0px !important;
        max-width: 2560px;
    }
     

    #top_mess p{
        font-size: 13px;
        
    }

    #menu_topt .nav-link{
        font-weight: 400;
        font-size: 14px;
        color:#726E8D;
    }

    //bot nav
    #bot_nav .container{
        padding: 20px 20px;
        margin: 0px 0px !important;
        max-width: 1440px;
    }
    
    
    .text{
        gap:35px;
    }
    
    #bot_nav .text p{
        margin: 0px !important;
        color:#726E8D;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;
    }

    //text_bl

    #text_bl .container{
        padding: 67px 250px;

    }
    
    #text_bl .text_style{
        font-size: 30px;

    }

    //2СolsRight

    #two_ColsRight{
        height: 450px;
    }
    
    #two_ColsRight .col_one{
        height: 450px;
    }
    
    
    #two_ColsRight .col_two{
        height: 450px;
    }
    
    #move{
        padding: 57px 60px 20px 60px;
    }
    
    .butt{
        padding-top: 110px;
    }
    
    #two_ColsRight .style_but{
        padding: 13px 29px;
        font-size: 14px;
    }
    
    .text_info h3{
        color:#2A254B;
        font-size: 21px;
 
    }
    
    .text_info .p1{
        margin-bottom: 0px !important;
        padding-bottom: 25px;
    }
    
    .text_info p{
        color:#505977;
        font-size: 13px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
    }
    
    //tabs

    #tabs{
        height: 355px;
    }
    
    #tabs .container{
        padding: 0px 57px 86px 57px;
        margin: 0px !important;
        max-width: 1440px;
    }
    
    .gaps_t{
        gap:59px;
        padding-top: 51px;
    }
    
    .gaps{
        margin-bottom: 16px;
    }
    
    #tabs h2{
        padding-top: 86px;
        color:#2A254B;
        font-style: 22px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
    }
    
    #tabs .bi{
        color:#2A254B;
    }
    
    #tabs h4{
        color:#2A254B;
        font-weight: 500;
        font-family: "Red Hat Display", sans-serif;
        font-size: 18px;
    }
    
    #tabs p{
        color:#2A254B;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        font-size: 14px;
    }

    //t=item_tabs

    //tabs

    #tabs_two{
        height: 355px;
    }
    
    #tabs_two .container{
        padding: 0px 57px 86px 57px;
        margin: 0px !important;
        max-width: 1440px;
    }
    
    .gaps_t{
        gap:59px;
        padding-top: 51px;
    }
    
    .gaps{
        margin-bottom: 16px;
    }
    
    #tabs_two h2{
        padding-top: 86px;
        color:#2A254B;
        font-style: 22px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
    }
    
    #tabs_two .bi{
        color:#2A254B;
    }
    
    #tabs_two h4{
        color:#2A254B;
        font-weight: 500;
        font-family: "Red Hat Display", sans-serif;
        font-size: 18px;
    }
    
    #tabs_two p{
        color:#2A254B;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        font-size: 14px;
    }


    //form

    #forms{
        height: 474.4px;
        background-image: url('../../image_index/fon_form.jpeg');
        background-size: cover;
        background-position: center;
    }
    
    #forms .container{
        padding: 97px 293px 97px 293px;
        margin: 0px !important;
        max-width: 2560px;
    }
    
    #forms h2{
        font-size: 26px;

    }
    
    #forms p{
        font-size: 15px;
    }

    .checkedd{
        gap:28px;
    }

    .email_section input{
        padding: 14px 160px 13px 32px;
        border: none;
    }
    
    .email_section input::placeholder{
        font-size: 14px;
    }
    
    .email_section .buttt{
        padding: 16px 13px 16px 13.5px;
        font-size: 13px;
    }

    //item_form
    //form

    #forms_two{
        height: 474.4px;
   
    }
    
    #forms_two .container{
        padding: 97px 293px 97px 293px;
        margin: 0px !important;
        max-width: 2560px;
    }
    
    #forms_two h2{
        font-size: 26px;

    }
    
    #forms_two p{
        font-size: 15px;
    }

    .checkedd{
        gap:28px;
    }

    .email_section input{
        padding: 14px 160px 13px 32px;
        border: none;
    }
    
    .email_section input::placeholder{
        font-size: 14px;
    }
    
    .email_section .buttt{
        padding: 16px 13px 16px 13.5px;
        font-size: 13px;
    }

    //footer
    #footer{
        height: 400px;
        background-color: #2A254B;
    }
    
    
    #footer .container{
        padding: 58px 53px 0 53px;
    }
    
    #footer .gapss{
        gap:60px;
    }
    
    #footer .text_main p{
        font-size: 16px;
    }
    
    #footer .text_main ul{
        font-size: 12px;

    }
    
    #footer  li{
        font-size: 12px;

    }
    
    .email_sec  input{
        padding: 12px 180px 12px 32px;

    }
    
    
    .email_sec  input::placeholder{
        font-size: 13px;
    }
    
    .email_sec .buttt_t{
        padding: 6px 11px;
        font-size: 13px;
    }
    
    
    #footer .hr{
        border-top: #4E4D93 solid 3px;
        margin: 0px !important;
    }
    
    #footer .style_text{

        font-size: 12px;

    }
    
    #footer .paddings{
        padding-top: 33px;
    }
    
    #footer .gaps_icon{
        gap: 24px;
    }
    
    .text_main li{
        padding-bottom: 10px;
    }

    #footer .bi{
        width: 16px;
        height: 16px;
    }

    //HOME PAGE

    //main_blok

    #main_banner{
        height: 508px;
    }
    
    #main_banner .container{
        padding: 80px  80px 80px 530px;
    }
    
    #main_banner .info_part{
        padding: 36px  46px ;
    }
    
    
    #main_banner .text_infa h2{
        font-size: 22px;
    }
    
    #main_banner .text_infa p{
        padding-top: 20px;
        font-size: 15px;
    }
    
    #main_banner .style_b{
        padding:10px 22px;
        font-size: 13px;
    } 
    
    #main_banner .button_ab_us{
        padding-top: 113px !important;
    }

    //tabs_about_us

    #tabs .fon{
        background-color: #F9F9F9;
        padding: 22px;
    }

    .gaps_t_abUS{
        gap:15px;
        padding-top: 36px;
    }

    //tabs_about_us

    #tabs_abUs{
        height: 427.3px;
    }

    #tabs_abUs .container{
        padding: 46px 36px 46px 36px;
    }

    .gaps_t{
        gap:59px;
        padding-top: 51px;
    } 

    .gaps{
        margin-bottom: 16px;
    }

    #tabs_abUs h2{
        font-style: 20px;
        padding-top: 36px;
    }

   

    #tabs_abUs h4{
        color:#2A254B;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        font-size: 14px;
    }

    #tabs_abUs p{
        color:#2A254B;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        font-size: 16px;
    }

    #tabs_abUs .fon{
        background-color: #F9F9F9;
        padding: 28px;
    }

    
    
    
    #products_few .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px ;
    }

    #products_few .zagol{
        font-size: 26px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        color:#2A254B;
        padding: 40px 0px;
        margin: 0px !important;
    }
    
    #products_few .main_div{
        
        gap:30px;
    }
    
    #products_few .gaps_cards{
        
        gap:30px;
    }
    
    .info img{
        width: 215px;
        height: 285px;
    }
    
    .info h5{
        font-size: 16px; 

    }
    
    .info p{
        font-size: 13px; 

    }

    #products_few .button_collection{
        padding: 13px 28px;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
    }
    
    #products_few .gap_but_colection{
        padding: 64px 397px 56px 397px;
    }


    //item products

    #products_few_item{
        height: 490px;
    
    }
    
    #products_few_item .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px ;
    }

    #products_few_item .zagol{
        font-size: 26px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        color:#2A254B;
        padding: 40px 0px;
        margin: 0px !important;
    }
    
    #products_few_item .main_div{
        
        gap:30px;
    }
    
    #products_few_item .gaps_cards{
        
        gap:30px;
    }
    
    .info img{
        width: 215px;
        height: 285px;
    }
    
    .info h5{
        font-size: 16px; 

    }
    
    .info p{
        font-size: 13px; 

    }

    #products_few_item .button_collection{
        padding: 13px 28px;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
    }
    
    #products_few_item .gap_but_colection{
        padding: 64px 397px 56px 397px;
    }

    //armchair

    #armchair{
        height: 500px;
    }
    
    #armchair .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px ;
    }
    
    
    #armchair  .main_gap{
        gap:14px;
    }

    .height_text{
        height: 420px;
    }

    #armchair .height_col2 img{
        height: 420px !important;
        width: 469px !important;
    }

    #armchair .move_div{
        padding: 56px;
    }
    
    .move_div h2{
        font-size: 22px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        padding-bottom: 12px;
    
    }
    
    
    .move_div p{
        font-size: 14px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        
    
    }
    
    .button_div{
        padding-top: 160px;
    }
    
    .button_div button{
        background-color: #F9F9F926;
        padding: 12px 28px;
        font-size: 12px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        padding-bottom: 12px;
        border:none;
        color:white;
    }

    //PRODUCT


     //product 3 0
     #products_few_3_0 .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px !important;
    }

    #products_few_3_0 .gaps_cards{
    
        gap:30px;
    }

    //top_bl_prod

    #top_bl_prod{
        height: 209px;
    }
    
    #top_bl_prod .container{
        margin: 0px !important;
        padding: 140px 700px  36px 80px;
    }
    
    .text_info_prod h1{
        font-size: 28px;
    }

    //filters



    #filters_prod .cont_sm{
        display: none;
    }

    #filters_prod{
    height: 72px;

    }

    #filters_prod .container{
        padding: 24px 48px;
        margin: 0px !important;
        max-width: 2560px !important;
    }

    #filters .pad_prod{
    
        background-color: #aeaeae;
    }

    .gaps_prod_topBl{
        gap: 36px;
    }

    .pad_prod p{
        margin: 0px !important;
        padding-right: 8px;
        font-size: 16px;
        font-weight: 400;
        color:#2A254B;
        font-family: "Red Hat Display", sans-serif;
    }

    .pad_prod svg{
        margin-top: 4px ;
        
    }

    //product 2 0

    #products_few_2_0{
        height: 400px;
    
    }
    .pad_sm{
        height: 560px !important;
    }
    

    #products_few_2_0 .main_div{
    
        gap:30px;
    }

    #products_few_2_0 .gaps_cards{
    
        gap:30px;
    }

    #products_few_2_0 .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px !important;
    }


    #products_few_2_0 .gap_but_colection{
        padding: 64px 397px 56px 397px;
    }

    #products_few_2_0 .button_collection{
        padding: 13px 28px;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
    }

    
   


    //filters

    #filters_prod .cont_sm{
        display: none;
    }

    #filters_prod{
        height: 72px;

    }

    #filters_prod .container{
        padding: 24px 38px;
        margin: 0px !important;
        max-width: 2560px !important;
    }

    #filters .pad_prod{
    
        background-color: #aeaeae;
    }

    .gaps_prod_topBl{
        gap: 36px;
    }

    .pad_prod p{
        margin: 0px !important;
        padding-right: 8px;
        font-size: 14px;
        font-weight: 400;
        color:#2A254B;
        font-family: "Red Hat Display", sans-serif;
    }

    .pad_prod svg{
        margin-top: 4px ;
        width: 14px;
        height: 14px;
    }


    //ITEM

    //item shop
    #item{
        height: 700px;
     
    }
    
    #item .container{
        padding: 50px 50px;
        margin: 0px !important;
        max-width: 2560px;
    }

    .sizes{
        width:500px;
        height: 600px;
    }
    
    .text_item{
        width: 450px;
    }

    #item  .move_block{
        padding: 23px 0px 23px 35px;
    }
    
    .zagolovok h2{
        font-size: 28px;
    }
    
    .zagolovok p{
        font-size: 20px;
    }
    
    .horizontal{
        width: 318px;
        border-top: #c9c6d1 2px solid;
    }
    
    .main_text h5{
        font-size: 13px;
        padding-bottom: 14px;
    }
    
    .main_text p{
        font-size: 13px;
    }
    
    .tabel{
        padding-bottom: 30px;
    }
    
    .tabel h5{
        padding-top: 36px;
        font-size: 13px;
    }
    
    .main_tabel p{
        font-size: 13px;
        
    }
    
    .vertical{
        height: 44px;
        border-left: 2px solid #c9c6d1;
        margin: 30px 50px 8px 50px;
    }
    
    .text_table{
        padding-top: 24px;
    }
    
    .input_block{
        padding-bottom: 38px;
    }
    
    .input_block p{
        font-size: 13px;
        
    }
    
    
    .imitation_button{
        padding: 12px 16px;
        background-color: #fff;
        width: 122px;
    }
    
    .imitation_button p{
        font-size: 13px;
    }
    
    .imitation_button svg{
        margin-top: 6px;
        color:#b8b8b8;
    }
    
    .button1{
        padding: 13px 29px;
        font-size: 13px;
    }
    
    .buttons{
        gap:16px;
    }
    
    .button2{
        padding: 13px 29px;
        font-size: 13px;
    }

    //CART

    #cart_body{
        height: 697px;
    }
    
    
    #cart_body .container{
        padding: 50px 100px 40px 100px;
        margin: 0px !important;
        max-width: 2560px !important;
    }

    #cart_body h2{
        font-size: 28px;
  
    }

    .table th{
        font-size: 18px;
    }

    .pad_colon h4{
        font-size: 18px;
    }
    
    .pad_colon .p1{
        font-size: 12px;
    }
    
    .pad_colon .p2{
        font-size: 14px;
    }

    .move_td2 p{
        font-size: 18px;
    }

    .style_b{
        padding: 14px 30px;
        font-size: 14px;
    }

    .p3{
        font-size: 12px;
    }
}

///////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:768px){

    //register

    .wrapper_reg{
        width: 320px;
        height: 350px;

    }

    .wrapper_reg h1{
        font-size: 25px;
        text-align: center;
    }

    .wrapper_reg .input-box{
        position: relative;
        width: 100%;
        height: 20px;
        margin: 30px 0;
    }

    .input-box input{
        font-size: 13px;
        padding: 20px 45px 20px 20px;
    }

    .input-box i{
        position: absolute;
        padding-top: 23px;
        font-size: 18px;
    }

    .wrapper_reg .remember-forgot{
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: 10px 0 20px;
    }

    .wrapper_reg .btn{
        padding-top: 10px;

    }

    #top_mess{
        background-color:#2A254B ;
        height: 41px !important;
    
    } 
    
    #top_mess .container{
        padding: 10px 205px !important;
        margin: 0px !important;
        max-width: 2560px;
    }
     
    #top_mess p{
        font-size: 12px;
        
    }

    #top_mess .bi{
        width: 13px;
        height: 13px;
    }

   

       //text_bl

    #text_bl{
        height: 186px;
    
    }

    #text_bl .container{
        padding: 67px 200px;

    }
    
    #text_bl .text_style{
        font-family: "Red Hat Display", sans-serif;
        font-size: 20px;
    }

     //2СolsRight

     #two_ColsRight{
        height: 350px;
    }
    
    #two_ColsRight .col_one{
        height: 350px;
    }
    
    
    #two_ColsRight .col_two{
        height: 350px;
    }
    
    #move{
        padding: 47px 50px 26px 50px;
    }
    
    .butt{
        padding-top: 60px;
    }
    
    #two_ColsRight .style_but{
        padding: 8px 24px;
        font-size: 11px;
    }
    
    .text_info h3{
        color:#2A254B;
        font-size: 18px;
 
    }
    
    .text_info .p1{
        margin-bottom: 0px !important;
        padding-bottom: 25px;
    }
    
    .text_info p{
        color:#505977;
        font-size: 10px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
    }

    //tabs

    #tabs{
        height: 355px;
    }
    
    #tabs .container{
        padding: 0px 47px 86px 57px;
        margin: 0px !important;
        max-width: 1440px;
    }
    
    .gaps_t{
        gap:30px;
        padding-top: 51px;
    }
    
    .gaps{
        margin-bottom: 14px;
    }
    
    #tabs h2{
        padding-top: 86px;
        color:#2A254B;
        font-style: 20px;

    }
    
    #tabs .bi{
        color:#2A254B;
        width: 16px;
        height: 16px;
    }
    
    #tabs h4{

        font-size: 14px;
    }
    
    #tabs p{

        font-size: 11px;
    }

    //tabs_item

    #tabs_two{
        height: 355px;
    }
    
    #tabs_two .container{
        padding: 0px 47px 86px 57px;
        margin: 0px !important;
        max-width: 1440px;
    }
    
    .gaps_t{
        gap:30px;
        padding-top: 51px;
    }
    
    .gaps{
        margin-bottom: 14px;
    }
    
    #tabs_two h2{
        padding-top: 46px;
        color:#2A254B;
        font-style: 20px;

    }
    
    #tabs_two .bi{
        color:#2A254B;
        width: 16px;
        height: 16px;
    }
    
    #tabs_two h4{

        font-size: 14px;
    }
    
    #tabs_two p{

        font-size: 11px;
    }

    //form

    #forms{
        height: 438.4px;
        background-image: url('../../image_index/fon_form.jpeg');
        background-size: cover;
        background-position: center;
    }
    
    #forms .container{
        padding: 97px 193px 97px 193px;
        margin: 0px !important;
        max-width: 2560px;
    }
    
    #forms h2{
        font-size: 22px;

    }
    
    #forms p{
        font-size: 13px;
    }

    .checkedd{
        gap:20px;
    }

    #forms input#createaccount{
        height: 13px;
        width: 13px;
    }

    #forms  label{
        font-size: 14px;
    }

    .email_section input{
        padding: 14px 120px 14px 22px;
        border: none;
    }
    
    .email_section input::placeholder{
        font-size: 14px;
    }
    
    .email_section .buttt{
        padding: 9px 13px 9px 13.5px;
        font-size: 11px;
    }

    //item_form

    //form

    #forms_two{
        height: 438.4px;

    }
    
    #forms_two .container{
        padding: 97px 193px 97px 193px;
        margin: 0px !important;
        max-width: 2560px;
    }
    
    #forms_two h2{
        font-size: 22px;

    }
    
    #forms_two p{
        font-size: 13px;
    }

    .checkedd{
        gap:20px;
    }

    #forms_two input#createaccount{
        height: 13px;
        width: 13px;
    }

    #forms_two  label{
        font-size: 14px;
    }

    .email_section input{
        padding: 14px 120px 14px 22px;
        border: none;
    }
    
    .email_section input::placeholder{
        font-size: 14px;
    }
    
    .email_section .buttt{
        padding: 9px 13px 9px 13.5px;
        font-size: 11px;
    }

    //footer
    #footer{
        height: 420px;
        background-color: #2A254B;
    }
    
    
    #footer .container{
        padding: 58px 53px 0 53px;
    }
    
    #footer .gapss{
        gap:50px;
    }
    
    #footer .text_main p{
        font-size: 13px;
    }
    
    #footer .text_main ul{
        font-size: 11px;

    }
    
    #footer  li{
        font-size: 11px;

    }
    
    .email_sec  input{
        padding: 10px 50px 12px 22px;

    }
    
    
    .email_sec  input::placeholder{
        font-size: 11px;
    }
    
    .email_sec .buttt_t{
        padding: 6px 5px;
        font-size: 10px;
        width: 70px;
    }
    
    
    #footer .hr{
        border-top: #4E4D93 solid 3px;
        margin: 0px !important;
    }
    
    #footer .style_text{

        font-size: 12px;

    }
    
    #footer .paddings{
        padding-top: 25px;
    }
    
    #footer .gaps_icon{
        gap: 24px;
    }
    
    .text_main li{
        padding-bottom: 10px;
    }

    #footer .bi{
        width: 16px;
        height: 16px;
    }

    //main_blok

    #main_banner{
        height: 460px;
    }
    
    #main_banner .container{
        padding: 80px  80px 80px 330px;
    }
    
    #main_banner .info_part{
        padding: 36px  46px ;
    }
    
    
    #main_banner .text_infa h2{
        font-size: 17px;
    }
    
    #main_banner .text_infa p{
        padding-top: 20px;
        font-size: 13px;
    }
    
    #main_banner .style_b{
        padding:6px 18px;
        font-size: 13px;
    }
    
    #main_banner .button_ab_us{
        padding-top: 93px !important;
    }


    //tabs_about_us

    #tabs_abUs{
        height: 427.3px;
    }

    #tabs_abUs .container{
        padding: 46px 36px 46px 36px;
    }

    .gaps_t{
        gap:59px;
        padding-top: 51px;
    } 

    .gaps{
        margin-bottom: 16px;
    }

    #tabs_abUs h2{
        font-style: 20px;
        padding-top: 36px;
    }

   

    #tabs_abUs h4{
        font-size: 13px;
    }

    #tabs_abUs p{
        font-size: 11px;
    }

    #tabs_abUs .fon{
        background-color: #F9F9F9;
        padding: 18px;
    }

    //products

    #products_few{
        height: 1100px;
    
    }
    
    #products_few .container{
        margin: 0px !important;
        padding: 0px 36px 0px 36px;
        max-width: 2560px ;
    }
    
    #products_few .main_div{
        
        gap:60px;
    }
    
    #products_few .gaps_cards{
        
        gap:95px;
    }
    
    .info img{
        width: 300px;
        height: 375px;
    }
    
    .info h5{
        font-size: 16px; 

    }
    
    .info p{
        font-size: 13px;

    }

    #products_few .button_collection{
        padding: 13px 28px;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
    }
    
    #products_few .gap_but_colection{
        padding: 64px 270px 56px 270px;
    }


    //item prod

    
    #products_few_item{
        height: 1100px;
    
    }
    
    #products_few_item .container{
        margin: 0px !important;
        padding: 0px 36px 0px 36px;
        max-width: 2560px ;
    }
    
    #products_few_item .main_div{
        
        gap:60px;
    }
    
    #products_few_item .gaps_cards{
        
        gap:95px;
    }
    
    .info img{
        width: 300px;
        height: 375px;
    }
    
    .info h5{
        font-size: 16px; 

    }
    
    .info p{
        font-size: 13px;

    }

    #products_few_item .button_collection{
        padding: 13px 28px;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
    }
    
    #products_few_item .gap_but_colection{
        padding: 64px 270px 56px 270px;
    }

    //armchair

    #armchair{
        height: 360px;
    }
    
    #armchair .container{
        margin: 0px !important;
        padding: 0px 36px 0px 36px;
        max-width: 2560px ;
    }
    
    
    #armchair  .main_gap{
        gap:14px;
    }
    

    .height_text{
        height: 320px;
    }

    #armchair .height_col2 img{
        height: 320px !important;
        width: 341px !important;
    }

    #width_col{
        width: 341px !important;
    }
    
    #armchair .move_div{
        padding: 40px;
    }
    
    .move_div h2{
        font-size: 18px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        padding-bottom: 12px;
    
    }
    
    
    .move_div p{
        font-size: 12px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        
    
    }
    
    .button_div{
        padding-top: 100px;
    }
    
    .button_div button{
        background-color: #F9F9F926;
        padding: 10px 24px;
        font-size: 11px;
    }

    //PRODUCT

    //top_bl_prod

    #top_bl_prod{
        height: 209.6px;
    }
    
    #top_bl_prod .container{
        margin: 0px !important;
        padding: 140px 500px  36px 80px;
    }
    
    .text_info_prod h1{
        font-size: 28px;
    }

    //product 3 0
    #products_few_3_0 .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px !important;
    }

    #products_few_3_0 .gaps_cards{
    
        gap:95px;
    }

      //product 2 0

    #products_few_2_0{
        height: 930px;
    
    }

    .pad_sm{
        height: 1110px !important;
    }
    
    #products_few_2_0 .container{
        margin: 0px !important;
        padding: 28px 36px 0px 36px;
        max-width: 2560px !important;
    }
 

    #products_few_2_0 .gap_but_colection{
        padding: 64px 270px 56px 270px;
    }

    #products_few_2_0 .button_collection{
        padding: 13px 28px;
        background-color: rgb(236, 236, 236);
        font-size: 14px;
    }

    #products_few_2_0 .main_div{
    
        gap:20px;
    }

    #products_few_2_0 .gaps_cards{
    
        gap:95px;
    }

    //filters

    #filters_prod .cont_sm{
        display: none;
    }

    #filters_prod{
        height: 72px;
    
    }
    
    #filters_prod .container{
        padding: 24px 38px;
        margin: 0px !important;
        max-width: 2560px !important;
    }
    
    #filters .pad_prod{
       
        background-color: #aeaeae;
    }
    
    .gaps_prod_topBl{
        gap: 26px;
    }
    
    .pad_prod p{
        margin: 0px !important;
        padding-right: 8px;
        font-size: 13px;
        font-weight: 400;
        color:#2A254B;
        font-family: "Red Hat Display", sans-serif;
    }
    
    .pad_prod svg{
        margin-top: 4px ;
        width: 13px;
        height: 13px;
    }

    //ITEM

    //item shop
    #item{
        height: 500px;
    
    }
    
    #item .container{
        padding: 50px 50px;
        margin: 0px !important;
        max-width: 2560px;
    }

    .sizes{
        width:320px;
        height: 400px;
    }
    
    .text_table{
        padding-top: 18px;
    }

    .text_item{
        width: 350px;
    }

    #item  .move_block{
        padding: 0px 35px;
    }
    
    .zagolovok h2{
        font-size: 16px;
    }
    
    .zagolovok p{
        font-size: 14px;
    }
    
    .horizontal{
        width: 218px;
        border-top: #c9c6d1 2px solid;
    }
    
    .main_text h5{
        font-size: 10px;
        padding-bottom: 14px;
    }
    
    .main_text p{
        font-size: 10px;
    }
    
    .tabel{
        padding-bottom: 0px;
    }
    
    .tabel h5{
        padding-top: 16px;
        font-size: 10px;
    }
    
    .main_tabel p{
        font-size: 10px;
        
    }
    
    .vertical{
        height: 34px;
        border-left: 2px solid #c9c6d1;
        margin: 28px 30px 8px 30px;
    }
    
    
    
    .input_block{
        padding-bottom: 18px;
    }
    
    .input_block p{
        font-size: 10px;
        
    }
    
    
    .imitation_button{
        padding: 8px 12px;
        background-color: #fff;
        width: 92px;
    }
    
    .imitation_button p{
        font-size: 13px;
    }
    
    .imitation_button svg{
        margin-top: 6px;
        color:#b8b8b8;
    }
    
    .button1{
        padding: 8px 24px;
        font-size: 10px;
    }
    
    .buttons{
        gap:16px;
    }
     
    .button2{
        padding: 8px 24px;
        font-size: 10px;
    }

    //CART

    #cart_body{
        height: 629px;
    }
    
    
    #cart_body .container{
        padding: 40px 70px 30px 70px;
    }

    #cart_body h2{
        font-size: 24px;
        padding-bottom: 20px;
    }

    .table th{
        font-size: 16px;
        
    }

    .pad_colon h4{
        font-size: 14px;
    }
    
    .pad_colon .p1{
        font-size: 11px;
    }
    
    .pad_colon .p2{
        font-size: 14px;
    }

    .move_td2 p{
        font-size: 14px;
    }

    .style_b{
        padding: 14px 30px;
        font-size: 14px;
    }

    .p3{
        font-size: 12px;
    }

    .subtotal h4{
        font-size: 18px;      
    }
    
    .subtotal span{
        font-size: 21px;      
    }
}
///////////////////////////////////////////////////////////////////////////////////////////////////
@media(max-width:425px){
     #top_mess{
        background-color:#2A254B ;
        height: 41px !important;
    
    } 
    
    #top_mess .container{
        padding: 10px 50px !important;
        margin: 0px !important;
        max-width: 2560px;
    }

    #top_mess p{
        font-size: 9px;
        
    }

    #top_mess .bi{
        width: 12px;
        height: 12px;
    }

    #menu_topt .nav-link{
        font-weight: 400;
        font-size: 13px;
        color:#726E8D;
    }
    

      //bot nav
    #bot_nav .container{
        padding: 20px 20px;
        margin: 0px 0px !important;
        max-width: 1440px;
    }
    
    
    .text{
        gap:18px;
    }

    .text_main{
        gap:20px;
    }
    
    #bot_nav .text p{
        margin: 0px !important;
        color:#726E8D;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Satoshi', sans-serif;
    }

      //text_bl

    #text_bl{
        height: 260px;
    
    }

    #text_bl .container{
        padding: 20px 30px;

    }
    
    #text_bl .text_style{
        font-family: "Red Hat Display", sans-serif;
        font-size: 33px;
        text-align: center;
    }

    //2СolsRight

    #two_ColsRight{
        height: 720px;
    }
    
    #two_ColsRight .col_one{
        height: 370px;
    }
    
    
    #two_ColsRight .col_two{
        height: 350px;
    }
    
    #move{
        padding: 30px 24px 0px 24px;
    }
    
    .butt{
        padding-top: 50px;
    }
    
    #two_ColsRight .style_but{
        padding: 10px 125px;
        font-size: 14px;
    }
    
    .text_info h3{
        color:#2A254B;
        font-size: 18px;
 
    }
    
    .text_info .p1{
        margin-bottom: 0px !important;
        padding-bottom: 25px;
    }
    
    .text_info p{
        color:#505977;
        font-size: 12px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
    }

    //tabs

    #tabs{
        height: 789px;
    }
    
    #tabs .container{
        padding: 0px 24px 36px 24px;
        margin: 0px !important;
        max-width: 1440px;
    }
    
    .gaps_t{
        gap:36px;
        padding-top: 36px;
    }
    
    .gaps{
        margin-bottom: 14px;
    }
    
    #tabs h2{
        padding-top: 48px;
        color:#2A254B;
        font-style: 20px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
    }
    
    #tabs .bi{
        color:#2A254B;
        width: 24px;
        height: 24px;
    }
    
    #tabs h4{
        color:#2A254B;
        font-weight: 500;
        font-family: "Red Hat Display", sans-serif;
        font-size: 16px;
    }
    
    #tabs p{
        color:#2A254B;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        font-size: 14px;
    }

    //item_tabs

    #tabs_two{
        height: 630px;
    }
    
    #tabs_two .container{
        padding: 0px 24px 0px 24px;
        margin: 0px !important;
        max-width: 1440px;
    } 

    //form

    #forms{
        height: 370px;
        background-image: url('../../image_index/fon_form.jpeg');
        background-size: cover;
        background-position: center;
    }
    
    #forms .container{
        padding: 24px 24px 0 24px;
        margin: 0px !important;
        max-width: 2560px;
    }
    
    #forms h2{
        font-size: 24px;

    }
    
    #forms p{
        font-size: 13px;
        text-align: start;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .checkedd{
        gap:8px;
    }

    #forms input#createaccount{
        height: 13px;
        width: 13px;
    }

    #forms  label{
        font-size: 14px;
    }

    .email_section input{
        padding: 14px 55px 14px 22px;
        border: none;
    }
    
    .email_section input::placeholder{
        font-size: 14px;
    }
    
    .email_section .buttt{
        padding: 9px 18px 9px 18px;
        font-size: 11px;
    }

    //item_form

    //form

    #forms_two{
        height: 370px;
       
    }
    
    #forms_two .container{
        padding: 24px 24px 0 24px;
        margin: 0px !important;
        max-width: 2560px;
    }
    
    #forms_two h2{
        font-size: 24px;

    }
    
    #forms_two p{
        font-size: 13px;
        text-align: start;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .checkedd{
        gap:8px;
    }

    #forms_two input#createaccount{
        height: 13px;
        width: 13px;
    }

    #forms_two  label{
        font-size: 14px;
    }

    .email_section input{
        padding: 14px 55px 14px 22px;
        border: none;
    }
    
    .email_section input::placeholder{
        font-size: 14px;
    }
    
    .email_section .buttt{
        padding: 9px 18px 9px 18px;
        font-size: 11px;
    }

    //footer
    #footer{
        height: 880px;
        background-color: #2A254B;
    }
    
    
    #footer .container{
        padding: 38px 24px 0 24px;
    }
    
    #footer .gapss{
        gap:30px;
    }
    
    #footer .text_main p{
        font-size: 15px;
    }
    
    #footer .text_main ul{
        font-size: 13px;

    }
    
    #footer  li{
        font-size: 13px;

    }
    
    .email_sec  input{
        padding: 10px 80px 12px 22px;

    }
    
    
    .email_sec  input::placeholder{
        font-size: 11px;
    }
    
    .email_sec .buttt_t{
        padding: 6px 10px;
        font-size: 10px;
    }
    
    
    #footer .hr{
        border-top: #4E4D93 solid 3px;
        margin: 0px !important;
    }
    
    #footer .style_text{

        font-size: 11px;

    }
    
    #footer .paddings{
        padding-top: 25px;
    }
    
    #footer .gaps_icon{
        gap: 14px;
    }
    
    .text_main li{
        padding-bottom: 10px;
    }

    #footer .bi{
        width: 14px;
        height: 14px;
    }

    .pad_div{
        padding-top: 20px;
    }

    //main_blok

    #main_banner{
        height: 425.3px;
    }
    
    #main_banner .container{
        padding: 80px  24px 80px 24px;
    }
    
    #main_banner .info_part{
        padding: 24px  34px ;
    }
    
    
    #main_banner .text_infa h2{
        font-size: 17px;
        text-align: center;
    }
    
    #main_banner .text_infa p{
        padding-top: 20px;
        font-size: 13px;
        text-align: center;
    }
    
    #main_banner .style_b{
        padding:6px 70px;
        font-size: 12px;
    }
    
    #main_banner .button_ab_us{ 
        padding-top: 83px !important;
        padding-left: 20px;
    }

    #tabs_abUs{
        height: 880px;
    }

    //tabs_abUS
    
    #tabs_abUs .container{
        padding: 46px 24px 46px 24px;
    }
    //products

    #products_few .zagol{
        font-size: 20px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        color:#2A254B;
        padding: 40px 0px;
        margin: 0px !important;
    }

    #products_few{
        height: 634px;
    
    }
    
    #products_few .container{
        margin: 0px !important;
        padding: 0px 24px 0px 24px;
        max-width: 2560px ;
    }
    
    #products_few .main_div{
        
        gap:16px;
    }
    
    #products_few .gaps_cards{
        
        gap:40px;
    }
    
    .info img{
        width: 143px;
        height: 181px;
    }
    
    .info h5{
        font-size: 14px; 

    }
    
    .info p{
        font-size: 11px;

    }

    #products_few .button_collection{
        padding: 9px 22px;
        background-color: rgb(236, 236, 236);
        font-size: 12px;
    }
    
    #products_few .gap_but_colection{
        padding: 44px 100px 44px 100px;
    }

    //item prod
    
    #products_few_item .zagol{
        font-size: 20px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        color:#2A254B;
        padding: 40px 0px;
        margin: 0px !important;
    }

    #products_few_item{
        height: 634px;
    
    }
    
    #products_few_item .container{
        margin: 0px !important;
        padding: 0px 24px 0px 24px;
        max-width: 2560px ;
    }
    
    #products_few_item .main_div{
        
        gap:16px;
    }
    
    #products_few_item .gaps_cards{
        
        gap:40px;
    }
    
    .info img{
        width: 143px;
        height: 181px;
    }
    
    .info h5{
        font-size: 14px; 

    }
    
    .info p{
        font-size: 11px;

    }

    #products_few_item .button_collection{
        padding: 9px 22px;
        background-color: rgb(236, 236, 236);
        font-size: 12px;
    }
    
    #products_few_item .gap_but_colection{
        padding: 44px 100px 44px 100px;
    }


    //armchair

    #armchair{
        height: 630px;
    }
    
    #armchair .container{
        margin: 0px !important;
        padding: 10px 24px 0px 24px;
        max-width: 2560px ;
    }
    
    
    #armchair  .main_gap{
        gap:14px;
    }

    
    .height_text{
        height: 279.5px;
    }

    #armchair .height_col2 img{
        height: 279.5px !important;
        width: 327.2px !important;
    }
    
    #width_col{
        width: 327px !important;
    }

    #armchair .height_col2{
        height: 289px !important;
    }
    
    #armchair .move_div{
        padding: 32px;
    }
    
    .move_div h2{
        font-size: 20px;
    
    } 
    
    
    .move_div p{
        font-size: 14px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        
    
    }
    
    .button_div{
        padding-top: 56px;
     
    }
    
    .button_div button{
        background-color: #F9F9F926;
        padding: 10px 87px;
        font-size: 11px;
    }

    //PRODUCT

    //top_bl_prod

    #top_bl_prod{
        height: 146px;
    }
    
    #top_bl_prod .container{
        margin: 0px !important;
        padding: 84px 112px  29px 112px;
    }
    
    .text_info_prod h1{
        font-size: 28px;
    }
    

     //product 3 0

    #products_few_3_0{
        height: 695px !important;
    }

    #products_few_3_0 .container{
        margin: 0px !important;
        padding: 28px 24px 0px 24px;
        max-width: 2560px !important;
    }
    
    #products_few_3_0 .gaps_cards{
        
        gap:40px;
    }

    #products_few_3_0 .button_collection{
        padding: 13px 20px;
        background-color: rgb(236, 236, 236);
        font-size: 13px;
        font-weight: 400;
        font-family: "Red Hat Display", sans-serif;
        color:#2A254B;
        border:none;
    }
        
    #products_few_3_0 .gap_but_colection{
        padding: 44px 0 64px 0;
    }
    
    

    //product 2 0

    #products_few_2_0{
        height: 550px;
    
    }

    .pad_sm{
        height: 650px !important;
    }
    
    #products_few_2_0 .container{
        margin: 0px !important;
        padding: 28px 24px 0px 24px;
        max-width: 2560px !important;
    }
 

    #products_few_2_0 .gap_but_colection{
        padding: 44px 100px 44px 100px;
    }

    #products_few_2_0 .button_collection{
        padding: 9px 22px;
        background-color: rgb(236, 236, 236);
        font-size: 12px;
    }

    #products_few_2_0 .main_div{
    
        gap:20px;
    }

    #products_few_2_0 .gaps_cards{
    
        gap:40px;
    }

    //filters

    #filters_prod .mobile-no{
        display: none;
    }

    //filters

    #filters_prod .cont_sm{
        display: block;
    }

    //ITEM

    //item shop
    #item{
        height: 1000px;
    
    }
    
    #item .container{
        padding: 24px 24px;
        margin: 0px !important;
        max-width: 2560px;
    }

    .sizes{
        width:329px;
        height: 400px;
    }
    
    .text_table{
        padding-top: 18px;
    }

    .text_item{
        width: 328px;
        padding-top: 24px;
    }

    #item  .move_block{
        padding: 0px 0px;
    }
    
    .zagolovok h2{
        font-size: 24px;
    }
    
    .zagolovok p{
        font-size: 20px;
    }
    
    .horizontal{
        width: 329px;
        border-top: #c9c6d1 2px solid;
    }
    
    .main_text h5{
        font-size: 16px;
        padding-bottom: 14px;
    }
    
    .main_text p{
        font-size: 14px;
    }
    
    .tabel{
        padding-bottom: 0px;
    }
    
    .tabel h5{
        padding-top: 16px;
        font-size: 16px;
    }
    
    .main_tabel p{
        font-size: 14px;
        
    }
    
    .vertical{
        height: 34px;
        border-left: 2px solid #c9c6d1;
        margin: 28px 30px 8px 30px;
    }
    
    
    
    .input_block{
        padding-bottom: 18px;
    }
    
    .input_block p{
        font-size: 16px;
        
    }
    
    
    .imitation_button{
        padding: 8px 12px;
        background-color: #fff;
        width: 329px;
    }
    
    .imitation_button p{
        font-size: 13px;
    }
    
    .imitation_button svg{
        margin-top: 6px;
        color:#b8b8b8;
    }
    
    .button1{
        padding: 8px 24px;
        font-size: 13px;
    }
    
    .buttons{
        gap:16px;
    }
     
    .button2{
        padding: 8px 24px;
        font-size: 13px;
    }

    //CART

    #cart_body{
        height: 629px;
    }
    
    
    #cart_body .container{
        padding: 40px 24px 30px 24px;
    }

    #cart_body h2{
        font-size: 22px;
        padding-bottom: 20px;
    }

    .table th{
        font-size: 16px;
        
    }

    #cart_body .td2{
        width: 60px !important;
       
    }

    .pad_colon{
        padding: 12px 0px  12px 16px;
    }

    .pad_colon h4{
        font-size: 14px;
    }
    
    .pad_colon .p1{
        font-size: 11px;
    }
    
    .pad_colon .p2{
        font-size: 14px;
    }

    .move_td2 p{
        font-size: 14px;
    }

    .style_b{
        padding: 14px 30px;
        font-size: 14px;
        width: 327.2px;
    }

    .p3{
        font-size: 12px;
    }

    .subtotal h4{
        font-size: 18px;      
    }
    
    .subtotal span{
        font-size: 21px;      
    }

    .mobile-no{
        display: none;
    }
}