#two_ColsRight{
    height: 603px;
    max-width: 2560px;
}

#two_ColsRight .col_one{
    height: 603px;
}


#two_ColsRight .col_two{
    height: 603px;
}

#move{
    padding: 77px 100px 35px 100px;
}

.butt{
    padding-top: 176px;
}

#two_ColsRight .style_but{
    padding: 16px 32px;
    border: none !important;
    background-color: #F9F9F9;
    color:#2A254B;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.text_info h3{
    color:#2A254B;
    font-size: 24px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 400;
    margin: 0px !important;
    padding-bottom: 25px;
}

.text_info .p1{
    margin-bottom: 0px !important;
    padding-bottom: 25px;
}

.text_info p{
    color:#505977;
    font-size: 16px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
}
