#top_mess{
    background-color:#2A254B ;
    height: 41px !important;

} 

#top_mess .container{
    padding: 10px 516px !important;
    margin: 0px !important;
    max-width: 2560px;
}
 
#top_mess .bi{
    color:white;
    margin-top: 3px;
}


#top_mess p{
    font-size: 14px;
    color:white;
    margin-bottom: 0px !important;
    line-height: 19px;
    
}

.top_m{
    padding-bottom: 5px;
}

//navbar

.navbar .styles{
    text-transform: uppercase;
    // font-family: "DIN Pro", sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#menu_topt .navbar-toggler{
   border:none !important;
  
}

#menu_topt .navbar-toggler-icon{
    width: 20px !important;
    height: 22px !important;
   
 }



#menu_topt .nav-item{
    text-transform: none;
    font-family: 'Satoshi', sans-serif;
    
  
}

#menu_topt .nav-link{
    font-weight: 400;
    font-size: 16px;
    color:#726E8D;
}


#menu_topt .container{
    padding: 5px 28px;
    margin: 0px 0px !important;
    max-width: 2560px;
}


.styles{
    padding-right: 47px;
}

.icons{
    gap:16px;
    
}

.icons a{
    color:rgb(10, 4, 37);
}