#products_few{
    height: 662px;

}

#products_few .container{
    margin: 0px !important;
    padding: 28px 80px 0px 80px;
    max-width: 2560px !important;
}

#products_few .main_div{
    
    gap:20px;
}

#products_few .gaps_cards{
    
    gap:20px;
}

.info h5{
    padding-top: 24px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    margin: 0px !important;
    padding-bottom: 8px;
}

.info p{
    margin: 0px !important;
    font-size: 18px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
}



#products_few .button_collection{
    padding: 16px 32px;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    border:none;
}

#products_few .gap_but_colection{
    padding: 64px 553px 56px 553px;
}

//product 2.0

#products_few_2_0{
    height: 500px;

}

#products_few_2_0 .container{
    margin: 0px !important;
    padding: 28px 80px 0px 80px;
    max-width: 2560px !important;
}

#products_few_2_0 .main_div{
    
    gap:58px;
}

#products_few_2_0 .gaps_cards{
    
    gap:58px;
}

.info h5{
    padding-top: 24px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    margin: 0px !important;
    padding-bottom: 8px;
}

.info p{
    margin: 0px !important;
    font-size: 18px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
}



#products_few_2_0 .button_collection{
    padding: 16px 32px;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    border:none;
}

#products_few_2_0 .gap_but_colection{
    padding: 64px 553px 56px 553px;
}


//product 3.0

#products_few_3_0{
    height: 662px;

}

#products_few_3_0 .container{
    margin: 0px !important;
    padding: 28px 80px 0px 80px;
    max-width: 2560px !important;
}

#products_few_3_0 .main_div{
    
    gap:20px;
}

#products_few_3_0 .gaps_cards{
    
    gap:20px;
}

.info h5{
    padding-top: 24px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    margin: 0px !important;
    padding-bottom: 8px;
}

.info p{
    margin: 0px !important;
    font-size: 18px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
}



#products_few_3_0 .button_collection{
    padding: 16px 32px;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    border:none;
}

#products_few_3_0 .gap_but_colection{
    padding: 64px 0 64px 0;
}




//item

#products_few_item{
    height: 600px;

}

#products_few_item .container{
    margin: 0px !important;
    padding: 28px 80px 0px 80px;
    max-width: 2560px !important;
}

#products_few_item .main_div{
    
    gap:20px;
}

#products_few_item .gaps_cards{
    
    gap:20px;
}

.info h5{
    padding-top: 24px;
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    margin: 0px !important;
    padding-bottom: 8px;
}

.info p{
    margin: 0px !important;
    font-size: 18px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
}



#products_few_item .button_collection{
    padding: 16px 32px;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    border:none;
}

#products_few_item .gap_but_colection{
    padding: 64px 553px 56px 553px;
}


#products_few_item .zagol{
    font-size: 32px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    color:#2A254B;
    padding: 30px 0px;
    margin: 0px !important;
}
