#text_bl{
    height: 246px;

}

#text_bl .container{
    padding: 76.2px 369px;
    margin: 0px !important;
    max-width: 2560px;
}

#text_bl .text_style{
    font-family: "Red Hat Display", sans-serif;
    font-size: 36px;
    font-weight: 300;
    margin: 0px !important;
    text-align: center;
    color:#2A254B;
    line-height: 1.3;
}