#cart_body{
    height: 725.4px;
}


#cart_body .container{
    padding: 50px 188px 40px 188px;
    margin: 0px !important;
    max-width: 2560px !important;
}

#cart_body h2{
    font-size: 36px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    padding-bottom: 48px;
    text-align: center;
    color:#2A254B;
}

#cart_body .td1{
    width: 350px;
    height: 151.4px;
}

.table th{
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    color:#2A254B !important;
}

.pad_colon{
    padding: 12px 21px;
}

.pad_colon h4{
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    color:#2A254B;
}

.pad_colon .p1{
    font-size: 14px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    color:#2A254B;
    padding: 8px 0;
}

.pad_colon .p2{
    font-size: 16px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    color:#2A254B;
}


#cart_body .td2{
    width: 620px;
    height: 151.4px;
}

#cart_body .td3{
    width: 80px;
    height: 151.4px;
}

.move_td2{
    padding: 56px 0;
}

.move_td2 p{
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    color:#2A254B;
}

.subtotal {
    padding-top: 28px;
}

// .move_butt{
//     padding-left: 891px;
    
// }

.style_b{
    padding: 16px 32px;
    background-color: #2A254B;
    color:white;
    border:none;
}

.p3{
    padding: 15px 0;
    margin: 0px !important;
    color:#4E4D93;
    font-size: 14px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
}


.subtotal h4{
    color:#4E4D93;
    font-size: 20px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
  
}

.subtotal span{
    color: #2A254B;
    font-size: 24px;
    font-weight: 400;
    font-family: "Red Hat Display", sans-serif;
    margin: 0px !important;
    padding-left: 10px;
  
}







